
.bar {
    background-color: rgb(78, 146, 248);
  }

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.r-box-container {
    width: 450px;
    display: flex; 
    flex-direction: column;
    gap:10px
  }

.requirement-box {
    border-radius: 25px;
    background-color: rgb(124, 47, 196);
    width: 450px;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:15px
  }

  .hints-box {
    border-radius: 25px;
    background-color: rgb(47, 179, 196);
    width: 450px;
  }

  
  .hints-line {
    display: flex;
    flex-direction: row;
  }
  .requirement-box:hover {
    box-shadow: 1px 4px 3px rgba(224, 220, 220, 0.2);
  }

  .green {
    background-color: #4CAF50;
    color: white;
  }
  
  .down-arrow {
    opacity: 0;
    align-self: right;
  }

  .requirement-box:hover .down-arrow {
    opacity: 1;
}